footer {
	background: rgb(255, 218, 125);
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 1000px;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: rgb(255, 249, 216);
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: rgb(255, 235, 170);
	color: #ffffff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
.single-box {
		margin-bottom: 50px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.single-box {
		margin-bottom: 50px;
}
}
p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: larger;
	color:grey;
}
 
.shoppingbutton{
	color: rgb(201, 0, 0) !important;
}

.index.html{
	background-color: grey !important;
}
body {
	background-color: rgb(255, 245, 227);
}
.cart {
	width: 1000px;
	border: 15px solid rgb(255, 232, 173);
	padding: 50px;
	margin: 20px;
	color: rgb(255, 232, 156);
}
h1{
	text-align: center;
	color:rgb(238, 217, 162);
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn-outline-success{
	background-color: whitesmoke !important;
	border-color: rgb(229, 209, 158) !important;
	
}
.navbar { 
	background-color:rgb(252, 220, 141) !important;
 }
 h5{
	color:rgb(255, 219, 127)
 }
 h3{
	color:rgb(253, 229, 166)
 }
 .square{
    border:20px solid rgb(255, 230, 168);
	width: 600px;
	height:600px;
	margin-left: 300px;
	margin-right: auto;
	margin-top: auto;
 }
 .poop{

	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }
 .navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
  }
  .navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
  }
  .navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
  }
  .navbar-wrapper .navbar .container {
	width: auto;
  }
  .wow {
	text-align: center;
	margin-left: 200px;
	margin-right: auto;
 }
 #nav ul {
    display: inline-block;
    list-style-type: none;
}
main{
	text-align: center;
}
.poop{
    border:20px solid rgb(255, 230, 168);
	width: 1500px;
	height:900px;
	
 }


 .btn-light{
	color: rgb(241, 193, 121) !important;
	background-color: rgb(250, 231, 171) !important;
	outline-color: rgb(209, 179, 134) !important;
 }
 

 .rounded-circle {
	height: 500px;
 }

 .navbar-brand {
	letter-spacing: 3px;
	color: #c28f42;
  }
  
  .navbar-brand:hover {
	  color: whitesmoke;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
	color: #7f4722;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
	color: #7f4722;
  }
  
  .navbar-scrolled {
	background-color: #ffede7;
  }

  